---
BasedOnStyle: Google
Language: Cpp

# 缩进
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

# 指针和引用
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

# 括号
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# 其他
AlignAfterOpenBracket: Align
AllowShortBlocksOnASingleLine: false
BinPackArguments: true
BinPackParameters: true
SortIncludes: true
